* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    display: flexbox;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'noodle';
    src: url(font/big_noodle_titling_oblique.ttf);
}

@font-face {
    font-family: 'noodle1';
    src: url(font/big_noodle_titling.ttf);
}

@font-face {
    font-family: 'calps';
    src: url(calps/CalpsSans-LightItalic.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(font/Poppins/Poppins-Regular.ttf);
}

.elemento {
    width: 100%;
    height: 105px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    z-index: 999;
}

.div-logo {
    width: auto;
    height: auto;
}

.nome,
.logo {
    margin-left: 30px;
}

.logo {
    position: absolute;
    width: 66.58px;
    height: 66.58px;
    left: 45px;
    top: 19px;
}

.nome {
    position: absolute;
    width: 310.52px;
    height: 48.69px;
    left: 131.48px;
    top: 27.24px;
}

.div-botoes {
    display: flex;
    margin-left: 36%;
    margin-top: 40px;
}

.botoes {
    font-family: 'noodle';
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 35px;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.botoes2,
.botoes3 {
    margin-left: 35px;
}

.botoes-1 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    font-family: 'noodle';
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.botoes-1:hover {
    color: #DA6025;
}

.botoes-1 span {
    display: inline-block;
    transition: transform 0.3s;
}

.botoes-1:hover span {
    transform: rotate(180deg);
}

.botoes:hover {
    color: #DA6025;
    border-bottom: 2px solid black;
}




/* Banner */

.banner {
    padding-top: 105px;
    position: relative;
    height: 600px;
    width: auto;
    background-image: url(image/lesserafim2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.skin {
    width: 1000px;
    height: 470px;
    margin-top: 130px;
    margin-left: -100px;
}













.historia {
    padding-top: 105px;
}

corpo {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
}

#minhaLista {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

#minhaLista>li {
    background-color: #d9d9d9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#minhaLista>li>ul {
    background-color: #bfbfbf;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.oculto {
    display: none;
}

#contenedorImagem {
    width: 50%;
    height: 50px;
    margin-left: 10px;
}

img {
    width: 100%;
    height: 500px;
}