/* header e reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.elemento {
    width: 100vw;
    height: 105px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 66.58px;
    height: 66.58px;
    margin-left: 45px;
    margin-right: 20px;
}

.nome {
    width: 310.52px;
    height: 48.69px;
}

@font-face {
    font-family: 'fonti';
    src: url(/font/big_noodle_titling.ttf);
}

.botão1 {
    font: 200 24px 'fonti', sans-serif;
    margin-left: 58px;
    margin-right: 90px;
    color: black;
}

.botão1:hover {
    color: #da6025;
    border-bottom: 3px solid black;


}

a {
    margin: 0;
    text-decoration: none;
}

.botão2 {
    font: 200 24px 'fonti', sans-serif;
    margin-right: 90px;
    color: black;
}

.botão2:hover {
    border-bottom: 3px solid black;
}

.botão3 {
    font: 200 24px 'fonti', sans-serif;
    margin-right: 90px;
    color: black;
}

.botão3:hover {
    border-bottom: 3px solid black;
}

.botão4 {
    font: 200 24px 'fonti', sans-serif;
    color: black;

}

#link {
    color: black;
}

#link:hover {
    color: #da6025;

    border-bottom: 3px solid black;
}

.ink {
    color: black;
}

.arrow {
    width: 20px;
}

/* fim header */
/*primeira parte */
.historia {
    width: 100vw;
    height: 100vh;
    background-image: url(imagemhistoria/historiaimagem.png);
    background-size: 100vw 100vh;
    padding-top: 20%;

}

.titulo {
    font: 400 57px 'fonti', sans-serif;
    color: #fff;
    border-bottom: 10px solid #da6025;
    width: 600px;
    margin-left: 30px;
    background-color: black;
    border-radius: 11px;

}

/* inicio main */
.ouro {
    width: 100vw;
    height: 1239px;
    background-image: url(imagemhistoria/eraOuro.png);
    background-size: 100vw 1239px;
    display: flex;
    padding-top: 80px;
    padding-left: 150px;
}

.um {
    width: 100vw;
    height: 69px;

    display: flex;
    margin-bottom: 20px;
}

.title {
    width: 195px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    justify-content: center;
    border-radius: 10px;
}

.text {
    width: 903px;
    height: 911px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.dentro {
    width: 903px;
    height: 1100px;

    overflow: hidden;
}

.din {
    font: 400 52px 'fonti';
    color: #da6025;

}

@font-face {
    font-family: 'textoz';
    src: url(fonte/CalpsSans-Thin/CalpsSans-Thin.ttf);
}

.textum {
    width: 903;
    height: 242px;
    border-radius: 10px;
    font: 600 27px 'textoz';
    color: #fff;
    justify-content: center;
    padding: 30px;
}

.textdois {
    width: 903;
    height: 242px;
    border-radius: 10px;
    font: 600 27px 'textoz';
    color: #fff;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.texttres {

    width: 903;
    height: 272px;
    border-radius: 10px;
    font: 600 27px 'textoz';
    color: #fff;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.textquatro {
    width: 903;
    height: 242px;
    border-radius: 10px;
    font: 600 27px 'textoz';
    color: #fff;
    padding: 30px;
}

/* fim primeira parte */
/* segunda parte */

.ratin {
    width: 100vw;
    height: 120vh;
    background-image: url(imagemhistoria/ratin.png);
    background-size: 100vw 120vh;
    display: flex;
    padding-top: 80px;
    padding-left: 150px;

}

.oreia {

    font: 400 52px 'fonti';
    color: #da6025;


}

.titin {
    width: 360px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.rato {
    width: 729px;
    height: 649px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.fora {
    
    width: 1280px;
}

.textrato{
    color: #fff;
    width: 729px;
    height: 324px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
}
.textratodois{
    color: #fff;
    width: 729px;
    height: 324px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
    padding-top: 40px;
}
/*  */
/* crise  */
/*  */
.crise{
    background-image: url(imagemhistoria/crise.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    padding-top: 80px;
    padding-left: 150px;

}
.Omnica {

    font: 400 52px 'fonti';
    color: #da6025;


}

.tim{
    width: 250px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.deus {
    width: 729px;
    height: 550px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.forin{
    width: 1000px;
    
}

.textozo{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
}
.textozin{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
    padding-top: 40px;
}
/* parte 3 ja foi */
/* parte 4 */

.tracer{
    background-image: url(imagemhistoria/governo\ over.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    padding-top: 80px;
    padding-left: 150px;

}
.over {

    font: 400 52px 'fonti';
    color: #da6025;


}

.maia{
    width: 190px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.maga {
    width: 729px;
    height: 550px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.governo{
    width: 1000px;
    
}

.tesis{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
}
.tezin{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
    padding-top: 90px;
}

/* outra parte */

.guerra{
    background-image: url(imagemhistoria/guerra.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: none;
    padding-top: 80px;
    padding-left: 150px;

}
.overri {

    font: 400 52px 'fonti';
    color: #da6025;


}

.maias{
    width: 370px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.magala {
    width: 729px;
    height: 550px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.macaco{
    width: 1000px;
    
}

.tezz{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 24px 'textoz';
    padding: 20px;
}
.teoo{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 24px 'textoz';
    padding: 20px;
    padding-top: 10px;
}
/*  */
/* parte penultima */

.junk{
    background-image: url(imagemhistoria/junk.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: none;
    padding-top: 80px;
    padding-left: 150px;

}
.titu {

    font: 400 52px 'fonti';
    color: #da6025;


}

.barriga{
    width: 78px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.pao {
    width: 729px;
    height: 550px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.bomba{
    width: 1000px;
    
}

.tso{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 24px 'textoz';
    padding: 20px;
}
.asta{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 24px 'textoz';
    padding: 20px;
    padding-top: 10px;
}

/*  ultima parte */


.rama{
    background-image: url(imagemhistoria/rama.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: none;
    padding-top: 80px;
    padding-left: 150px;

}
.titi {

    font: 400 52px 'fonti';
    color: #da6025;


}

.bar{
    width: 120px;
    height: 69px;
    background-color: rgb(255, 255, 255, 0.77);
    border-radius: 10px;
    margin-bottom: 20px;
}

.paoz {
    width: 729px;
    height: 550px;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

.bo{
    width: 1000px;
    
}

.tsoz{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
}
.astaz{
    color: #fff;
    width: 729px;
    height: 275px ;
    border-radius: 10px;
    font: 600 27px 'textoz';
    padding: 20px;
    padding-top: 50px;
}