* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin-top: 105px;
    height: 100%;
}

@font-face {
    font-family: 'noodle';
    src: url(font/big_noodle_titling.ttf);
}

@font-face {
    font-family: 'noodle1';
    src: url(font/big_noodle_titling_oblique.ttf);
}

.header {
    width: 100%;
    height: 105px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -105px;
    z-index: 999;
}

.logos {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    width: 66px;
    height: 66px;
    margin-left: -90px;
}

.logo-escrita {
    width: 310px;
    height: 49px;
    margin-left: 20px;
}

.botoes {
    color: black;
    font-family: 'noodle';
    font-size: 24px;
}

.botoes:hover {
    color: #DA6025;
    border-bottom: 2px solid black;
}

.botao {
    margin-left: 100px;
}

.b2,
.b3,
.b4 {
    margin-left: 70px;
}

.botao4 {
    color: black;
    font-family: 'noodle';
    font-size: 24px;
}

.botao4:hover {
    color: #DA6025;
}


/* rotação de 180° do span */
.span1 {
    display: inline-block;
    transition: transform 0.3s ease;
}

.b4:hover .span1 {
    transform: rotate(180deg);
}

.background {
    position: relative;
    height: 760px;
    background-image: url(image/imagem\ background\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.branco {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.771);
    display: flex;
    justify-content: center;
    align-items: center;
}

.plataformas {
    width: 60px;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.ps5 {
    width: 320px;
    height: 80px;
}

.switch {
    height: 80px;
    width: 100px;
}

.xbox {
    height: 80px;
    width: 160px;
    ;
}

.battle {
    height: 90px;
    width: 100px;
}

@media only screen and (max-width: 1464px) {
    .background {
        height: 670px;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    .background {
        height: 500px;
        background-position: center;
        background-size: cover;
    }

    .plataformas{
        height: 100px;
        width: 100px;

    }

    .ps5 {
        width: 320px;
        height: 80px;
    }
    
    .switch {
        height: 80px;
        width: 100px;
    }
    
    .xbox {
        height: 80px;
        width: 160px;
        ;
    }
    
    .battle {
        height: 90px;
        width: 100px;
    }
}


@media only screen and (max-width: 768px) {
    .background {
        background-position: center;
        background-size: cover;
        height: 400px;
    }
}