@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Thin.eot');
    src: local('Calps Sans Slim Thin'), local('CalpsSansSlim-Thin'),
        url('CalpsSansSlim-Thin.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Thin.woff2') format('woff2'),
        url('CalpsSansSlim-Thin.woff') format('woff'),
        url('CalpsSansSlim-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-ThinItalic.eot');
    src: local('Calps Sans Slim Thin Italic'), local('CalpsSansSlim-ThinItalic'),
        url('CalpsSansSlim-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-ThinItalic.woff2') format('woff2'),
        url('CalpsSansSlim-ThinItalic.woff') format('woff'),
        url('CalpsSansSlim-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Italic.eot');
    src: local('Calps Sans Slim Italic'), local('CalpsSansSlim-Italic'),
        url('CalpsSansSlim-Italic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Italic.woff2') format('woff2'),
        url('CalpsSansSlim-Italic.woff') format('woff'),
        url('CalpsSansSlim-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Medium.eot');
    src: local('Calps Sans Medium'), local('CalpsSans-Medium'),
        url('CalpsSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Medium.woff2') format('woff2'),
        url('CalpsSans-Medium.woff') format('woff'),
        url('CalpsSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-ExtraLight.eot');
    src: local('Calps Sans ExtraLight'), local('CalpsSans-ExtraLight'),
        url('CalpsSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-ExtraLight.woff2') format('woff2'),
        url('CalpsSans-ExtraLight.woff') format('woff'),
        url('CalpsSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Italic.eot');
    src: local('Calps Sans Italic'), local('CalpsSans-Italic'),
        url('CalpsSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Italic.woff2') format('woff2'),
        url('CalpsSans-Italic.woff') format('woff'),
        url('CalpsSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim ExtraBlack';
    src: url('CalpsSansSlim-ExtraBlack.eot');
    src: local('Calps Sans Slim ExtraBlack'), local('CalpsSansSlim-ExtraBlack'),
        url('CalpsSansSlim-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-ExtraBlack.woff2') format('woff2'),
        url('CalpsSansSlim-ExtraBlack.woff') format('woff'),
        url('CalpsSansSlim-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans ExtraBlack';
    src: url('CalpsSans-ExtraBlackItalic.eot');
    src: local('Calps Sans ExtraBlack Italic'), local('CalpsSans-ExtraBlackItalic'),
        url('CalpsSans-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-ExtraBlackItalic.woff2') format('woff2'),
        url('CalpsSans-ExtraBlackItalic.woff') format('woff'),
        url('CalpsSans-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Black.eot');
    src: local('Calps Sans Black'), local('CalpsSans-Black'),
        url('CalpsSans-Black.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Black.woff2') format('woff2'),
        url('CalpsSans-Black.woff') format('woff'),
        url('CalpsSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-ExtraLightItalic.eot');
    src: local('Calps Sans Slim ExtraLight Italic'), local('CalpsSansSlim-ExtraLightItalic'),
        url('CalpsSansSlim-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-ExtraLightItalic.woff2') format('woff2'),
        url('CalpsSansSlim-ExtraLightItalic.woff') format('woff'),
        url('CalpsSansSlim-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Bold.eot');
    src: local('Calps Sans Slim Bold'), local('CalpsSansSlim-Bold'),
        url('CalpsSansSlim-Bold.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Bold.woff2') format('woff2'),
        url('CalpsSansSlim-Bold.woff') format('woff'),
        url('CalpsSansSlim-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans SemiLight';
    src: url('CalpsSans-SemiLight.eot');
    src: local('Calps Sans SemiLight'), local('CalpsSans-SemiLight'),
        url('CalpsSans-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-SemiLight.woff2') format('woff2'),
        url('CalpsSans-SemiLight.woff') format('woff'),
        url('CalpsSans-SemiLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans ExtraBlack';
    src: url('CalpsSans-ExtraBlack.eot');
    src: local('Calps Sans ExtraBlack'), local('CalpsSans-ExtraBlack'),
        url('CalpsSans-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-ExtraBlack.woff2') format('woff2'),
        url('CalpsSans-ExtraBlack.woff') format('woff'),
        url('CalpsSans-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-LightItalic.eot');
    src: local('Calps Sans Light Italic'), local('CalpsSans-LightItalic'),
        url('CalpsSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-LightItalic.woff2') format('woff2'),
        url('CalpsSans-LightItalic.woff') format('woff'),
        url('CalpsSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim SemiLight';
    src: url('CalpsSansSlim-SemiLightItalic.eot');
    src: local('Calps Sans Slim SemiLight Italic'), local('CalpsSansSlim-SemiLightItalic'),
        url('CalpsSansSlim-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-SemiLightItalic.woff2') format('woff2'),
        url('CalpsSansSlim-SemiLightItalic.woff') format('woff'),
        url('CalpsSansSlim-SemiLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Light.eot');
    src: local('Calps Sans Slim Light'), local('CalpsSansSlim-Light'),
        url('CalpsSansSlim-Light.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Light.woff2') format('woff2'),
        url('CalpsSansSlim-Light.woff') format('woff'),
        url('CalpsSansSlim-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Regular.eot');
    src: local('Calps Sans Regular'), local('CalpsSans-Regular'),
        url('CalpsSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Regular.woff2') format('woff2'),
        url('CalpsSans-Regular.woff') format('woff'),
        url('CalpsSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-ThinItalic.eot');
    src: local('Calps Sans Thin Italic'), local('CalpsSans-ThinItalic'),
        url('CalpsSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-ThinItalic.woff2') format('woff2'),
        url('CalpsSans-ThinItalic.woff') format('woff'),
        url('CalpsSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Light.eot');
    src: local('Calps Sans Light'), local('CalpsSans-Light'),
        url('CalpsSans-Light.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Light.woff2') format('woff2'),
        url('CalpsSans-Light.woff') format('woff'),
        url('CalpsSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Bold.eot');
    src: local('Calps Sans Bold'), local('CalpsSans-Bold'),
        url('CalpsSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Bold.woff2') format('woff2'),
        url('CalpsSans-Bold.woff') format('woff'),
        url('CalpsSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-LightItalic.eot');
    src: local('Calps Sans Slim Light Italic'), local('CalpsSansSlim-LightItalic'),
        url('CalpsSansSlim-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-LightItalic.woff2') format('woff2'),
        url('CalpsSansSlim-LightItalic.woff') format('woff'),
        url('CalpsSansSlim-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim SemiLight';
    src: url('CalpsSansSlim-SemiLight.eot');
    src: local('Calps Sans Slim SemiLight'), local('CalpsSansSlim-SemiLight'),
        url('CalpsSansSlim-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-SemiLight.woff2') format('woff2'),
        url('CalpsSansSlim-SemiLight.woff') format('woff'),
        url('CalpsSansSlim-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-ExtraLightItalic.eot');
    src: local('Calps Sans ExtraLight Italic'), local('CalpsSans-ExtraLightItalic'),
        url('CalpsSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-ExtraLightItalic.woff2') format('woff2'),
        url('CalpsSans-ExtraLightItalic.woff') format('woff'),
        url('CalpsSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans SemiLight';
    src: url('CalpsSans-SemiLightItalic.eot');
    src: local('Calps Sans SemiLight Italic'), local('CalpsSans-SemiLightItalic'),
        url('CalpsSans-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-SemiLightItalic.woff2') format('woff2'),
        url('CalpsSans-SemiLightItalic.woff') format('woff'),
        url('CalpsSans-SemiLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-MediumItalic.eot');
    src: local('Calps Sans Slim Medium Italic'), local('CalpsSansSlim-MediumItalic'),
        url('CalpsSansSlim-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-MediumItalic.woff2') format('woff2'),
        url('CalpsSansSlim-MediumItalic.woff') format('woff'),
        url('CalpsSansSlim-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-ExtraLight.eot');
    src: local('Calps Sans Slim ExtraLight'), local('CalpsSansSlim-ExtraLight'),
        url('CalpsSansSlim-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-ExtraLight.woff2') format('woff2'),
        url('CalpsSansSlim-ExtraLight.woff') format('woff'),
        url('CalpsSansSlim-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-Thin.eot');
    src: local('Calps Sans Thin'), local('CalpsSans-Thin'),
        url('CalpsSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-Thin.woff2') format('woff2'),
        url('CalpsSans-Thin.woff') format('woff'),
        url('CalpsSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-BoldItalic.eot');
    src: local('Calps Sans Slim Bold Italic'), local('CalpsSansSlim-BoldItalic'),
        url('CalpsSansSlim-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-BoldItalic.woff2') format('woff2'),
        url('CalpsSansSlim-BoldItalic.woff') format('woff'),
        url('CalpsSansSlim-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-BlackItalic.eot');
    src: local('Calps Sans Black Italic'), local('CalpsSans-BlackItalic'),
        url('CalpsSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-BlackItalic.woff2') format('woff2'),
        url('CalpsSans-BlackItalic.woff') format('woff'),
        url('CalpsSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-BoldItalic.eot');
    src: local('Calps Sans Bold Italic'), local('CalpsSans-BoldItalic'),
        url('CalpsSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-BoldItalic.woff2') format('woff2'),
        url('CalpsSans-BoldItalic.woff') format('woff'),
        url('CalpsSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Medium.eot');
    src: local('Calps Sans Slim Medium'), local('CalpsSansSlim-Medium'),
        url('CalpsSansSlim-Medium.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Medium.woff2') format('woff2'),
        url('CalpsSansSlim-Medium.woff') format('woff'),
        url('CalpsSansSlim-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-BlackItalic.eot');
    src: local('Calps Sans Slim Black Italic'), local('CalpsSansSlim-BlackItalic'),
        url('CalpsSansSlim-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-BlackItalic.woff2') format('woff2'),
        url('CalpsSansSlim-BlackItalic.woff') format('woff'),
        url('CalpsSansSlim-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Black.eot');
    src: local('Calps Sans Slim Black'), local('CalpsSansSlim-Black'),
        url('CalpsSansSlim-Black.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Black.woff2') format('woff2'),
        url('CalpsSansSlim-Black.woff') format('woff'),
        url('CalpsSansSlim-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calps Sans Slim ExtraBlack';
    src: url('CalpsSansSlim-ExtraBlackItalic.eot');
    src: local('Calps Sans Slim ExtraBlack Italic'), local('CalpsSansSlim-ExtraBlackItalic'),
        url('CalpsSansSlim-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-ExtraBlackItalic.woff2') format('woff2'),
        url('CalpsSansSlim-ExtraBlackItalic.woff') format('woff'),
        url('CalpsSansSlim-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans';
    src: url('CalpsSans-MediumItalic.eot');
    src: local('Calps Sans Medium Italic'), local('CalpsSans-MediumItalic'),
        url('CalpsSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CalpsSans-MediumItalic.woff2') format('woff2'),
        url('CalpsSans-MediumItalic.woff') format('woff'),
        url('CalpsSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Calps Sans Slim';
    src: url('CalpsSansSlim-Regular.eot');
    src: local('Calps Sans Slim Regular'), local('CalpsSansSlim-Regular'),
        url('CalpsSansSlim-Regular.eot?#iefix') format('embedded-opentype'),
        url('CalpsSansSlim-Regular.woff2') format('woff2'),
        url('CalpsSansSlim-Regular.woff') format('woff'),
        url('CalpsSansSlim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

